body {
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 720px;
}

h1 {
    text-align: center;
}

p {
    color: #000;
    font-weight: bold;
}

.border-example {
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    text-align: center;
}

.solid-border {
    border: 2px solid #3498db;
    background-color: #3498db41;
}

.dashed-border {
    border: 2px dashed #e74c3c;
    background-color: #e74c3c41;
}

.dotted-border {
    border: 2px dotted #2ecc71;
    background-color: #2ecc7141;
}

.double-border {
    border: 3px double #f39c12;
    background-color: #f39c1241;
}

.rounded-border {
    border: 2px solid #34495e;
    border-radius: 10px;
    background-color: #34495e41;
}

.border-width {
    border: 5px solid #3498db;
    background-color: #3498db41;
}

.border-color {
    border: 2px solid #9b59b6;
    border-color: #1abc9c;
    background-color: #1abc9c41;
}

.border-radius {
    border: 2px solid #e67e22;
    border-radius: 20px;
    background-color: #e67e2241;
}

.border-all-sides {
    border-top: 3px dashed #3498db;
    border-right: 3px dashed #e74c3c;
    border-bottom: 3px dashed #2ecc71;
    border-left: 3px dashed #f39c12;
}

.border-custom-style {
    border: 8px groove #e74c3c; /* Estilo personalizado - groove */
    /* Tipos de personalização de Borda
    solid
    dashed
    dotted
    double
    groove
    ridge
    inset
    outset
    none */
    background-color: #e74c3c41;
}
